{% extends "blogs/_base.html"%}     
{% block content %}
{% load static %}
<title>{% block title %}APPLE{%endblock title %}</title>
<h1 >APPLE STORE</h1>
    <div class="row row-cols-6 row-cols-md-4 g-2">
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/iphonemini.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">iphone 12 mini</h5>
                    <p class="card-text">500 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/12neww.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">iphone 12</h5>
                    <p class="card-text">650 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/12pro.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">iphone 12 pro</h5>
                    <p class="card-text">800 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/12max.jpeg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">iphone 12 pro MAX</h5>
                    <p class="card-text">990 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/13.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">iphone 13</h5>
                    <p class="card-text">880 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/13pro.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">iphone 13 pro</h5>
                        <p class="card-text">990 $</p>
                        <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/13maxx.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">iphone 13 pro MAX</h5>
                    <p class="card-text">1100 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/mini.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">ipad mini</h5>
                    <p class="card-text">690 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/ipad.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">ipad</h5>
                    <p class="card-text">1000 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/ipadpro1.png'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">ipad pro</h5>
                    <p class="card-text">1200 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/air.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">MacBook air</h5>
                    <p class="card-text">1590 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
        <div class="col col-6 col-md-4 col-mt-4 col-lg-3 col-rg-3">
            <div class="card h-100 bg-warning mb-3">
                <img src="{% static 'blogs/img/mpro.jpg'%}" class="card-img-top" alt="" width="100" height = "250" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">MacBook pro</h5>
                    <p class="card-text">2000 $</p>
                    <a href="{% url 'price_no'%}" class="btn btn-primary">купить</a>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-rigth mt-3">
            <li class="page-item"><a class="page-link" href="#">НАЗАД</a></li>
            <li class="page-item"><a class="page-link" href="...">1</a></li>
            <li class="page-item"><a class="page-link" href="...">2</a></li>
            <li class="page-item"><a class="page-link" href="...">3</a></li>
            <li class="page-item"><a class="page-link" href="...">4</a></li>
            <li class="page-item"><a class="page-link" href="#">ВПЕРЕД</a></li>
        </ul>
    </nav>
{% endblock content %}
                
                
                
                
                
                
                
                
                
                
                

 
                
                    