{% extends "blogs/_base.html"%}		
{% block content %}
{% load static %}
<title>{% block title %} Мое Хобби! {%endblock title %}</title>
			<div class="row">
				<h1 >Мое хобби!</h1>
			</div>
				<div class="row row-cols-1 row-cols-md-2 g-4">
				  <div class="col">
				    <div class="card">
				      <img src="{% static 'blogs/img/developer.jpg' %}" class="card-img-top" alt="">
				      <div class="card-body">
				        <h5 class="card-title">БЭКЕНД-РАЗРАБОТКА</h5>
				        <p class="card-text"><strong>Студент IT_ACADEMY</strong></p>
				        <p class="card-text">Преаодаватель Игорь.</p>
				        <a href="#" class="btn btn-primary">ПРОСМОТР</a>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card">
				      <img src="{% static 'blogs/img/training.jpg' %}" class="card-img-top" alt="">
				      <div class="card-body">
				        <h5 class="card-title">БОДИБИЛДИНГ</h5>
				        <p class="card-text"><strong>Зал Biceps_club.</strong></p>
				        <p class="card-text">стаж 2 месяца.</p>
				        <a href="#" class="btn btn-primary">ПРОСМОТР</a>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card">
				      <img src="{% static 'blogs/img/velosport.jpg' %}" class="card-img-top" alt="">
				      <div class="card-body">
				        <h5 class="card-title">ВЕЛОСПОРТ</h5>
				        <p class="card-text"><strong>Велосипед Aspect-Stimul 24x3.</strong></p>
				        <p class="card-text">Стаж 2 года.</p>
				        <a href="#" class="btn btn-primary">ПРОСМОТР</a>
				      </div>
				    </div>
				  </div>
				  <div class="col">
				    <div class="card">
				      <img src="{% static 'blogs/img/cyber.jpeg' %}" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h5 class="card-title">КИБЕР-СПОРТ</h5>
				        <p class="card-text"><strong>DOTA, WOW, PUBG</strong></p>
				        <p class="card-text">стаж 5 лет.</p>
				        <a href="#" class="btn btn-primary">ПРОСМОТР</a>
				      </div>
				    </div>
				  </div>
				</div>
			
					
{% endblock content %}